.inline-text {
    display: flex;
    align-items: center;
}

.city {
    width: 20vw;
    border: solid 1px black;
    padding: 1vw;
}

.clock {
    width: 30vw;
    border: solid 1px black;
    padding: 1vw;
}